body {
	background:#F3F3F3;	
		font-size:13px;

}

p {
	text-shadow:0 1px 0 #fff;
	font-size:13px;
}
#logo a {
	
}
a {
	color:#ec008c;	
}
a:hover {
	color:#97bf0d;	
}
a:focus {
	color:#97bf0d;	
}
.componentheading {
    font-size: 2.8em;
    line-height: 2em;
	color:#333;
	text-shadow:0 1px 0 #fff;	
}

#header {
background:#76b4cf;	
padding-top:10px;
border-bottom:1px solid #3b6172;
}
.headcont {
	margin: 15px auto;
    max-width: 85em;
    width: 95%;
}
#body-container {
}

/* Width Overrides */

.main-only #content-main{float:left;width:100%;}
.main-only #load-first{width:100%;}

.alpha-1-main #load-first{width:100%;}
.alpha-1-main #content-main{float:right;width:72%;}
.alpha-1-main #column-group-alpha{float:left;width:28%;}

.alpha-2-main #load-first{width:100%;}
.alpha-2-main #content-main{float:right;width:72%;}
.alpha-2-main #column-group-alpha{float:left;width:28%;}

.main-beta-1 #content-main{float:left;width:100%;}
.main-beta-1 #load-first{width:72%;}
.main-beta-1 #column-group-beta{float:right;width:28%;}

.main-beta-2 #content-main{float:left;width:100%;}
.main-beta-2 #load-first{width:62%;}
.main-beta-2 #column-group-beta{float:right;width:38%;}

.alpha-1-main-beta-1 #load-first{width:81%;} 
.alpha-1-main-beta-1 #content-main{float:right;width:74.2%;}
.alpha-1-main-beta-1 #column-group-alpha{float:left;width:25.8%;}
.alpha-1-main-beta-1 #column-group-beta{float:right;width:19%;}

.alpha-2-main-beta-1 #load-first{width:81%;} 
.alpha-2-main-beta-1 #content-main{float:right;width:62%;} 
.alpha-2-main-beta-1 #column-group-alpha{float:left;width:38%;}
.alpha-2-main-beta-1 #column-group-beta{float:right;width:19%;}

.alpha-1-main-beta-2 #load-first{width:62%;} 
.alpha-1-main-beta-2 #content-main{float:right;width:65.5%;}
.alpha-1-main-beta-2 #column-group-alpha{float:left;width:34.5%;}
.alpha-1-main-beta-2 #column-group-beta{float:right;width:38%;}

.alpha-2-main-beta-2 #load-first{width:62%;} 
.alpha-2-main-beta-2 #content-main{float:right;width:38%;} 
.alpha-2-main-beta-2 #column-group-alpha{float:left;width:62%;}
.alpha-2-main-beta-2 #column-group-beta{float:right;width:38%;}
/*Menu Stuff */

.nav-bar {
	float:right;	
}
#nav {
	float:right;
	clear:right;	
}
#nav ul, ol {
    margin: 0 0;
    padding: 0;

}
ul.menu a, ul.menu span.separator {
    display: block;
    padding: 0.7em 1.3em;
}
#nav li {
	margin-left:5px;
}
#nav li ul li {
	margin-left:0px;
}
li a {
	font-size:1.2em !important;

}
#nav li a {
	color:#fff;
	background:#ec008c;
	border:1px solid #9e035f;
	border-radius:5px;
	box-shadow:inset 0 0px 1px rgba(255,255,255,0.3), 0 0px 1px rgba(0,0,0,0.3);
}
#nav li ul li a{
	color:#fff;
	background:#ec008c;
	border-top:0px solid #9e035f;
	border-bottom:0px solid #9e035f;
	border-radius:0px;
	box-shadow:none;
}
#nav li a:hover {
	background:#97bf0d;
	color:#333;	
	text-decoration:none;
	border:1px solid #516609;
	box-shadow:none;

}
#nav li .active a {
	background:#97bf0d !important;
	text-decoration:none;
	border:1px solid #516609;
	box-shadow:none;

}
#nav ul li.active a {
	background:#97bf0d;
	text-decoration:none;
	border:1px solid #516609;
	box-shadow:none;
}
#nav ul li.active ul li a {
	background:#97bf0d;
	text-decoration:none;
	border:none;
		border-left:1px solid #9e035f;
	border-right:1px solid #9e035f;	
	box-shadow:none;
}
#nav ul li.active ul li a {
	background:#ec008c;
	box-shadow:none;
}
#nav ul li.active ul li a:hover {
	background:#97bf0d;
	box-shadow:none;
}
#nav ul li ul li a .active {
	background:#97bf0d;
	box-shadow:none;
}
#nav ul li ul a:hover {
	box-shadow:none !important;
	border-top:none !important;
	border-bottom:none;	
}
.flyout {
	background: url(../images/menu-top.png) top no-repeat;
	padding-top:15px !important;
	border-left:none !important;
	border-right:none !important;
	border-top:none !important;
	border-bottom:1px solid #9e035f;
	width:200px;
}
ul.menu ul a {
	border-left:1px solid #9e035f;
	border-right:1px solid #9e035f;		
}
ul.menu ul li a{
	border-radius:0 !important;
	
}	
ul.menu ul li:first-of-type {
	border-top:none !important;
}
ul.menu ul a:hover {
	background: #76b4cf;
	color:#fff;	
	text-decoration:none;
}
#navmobile {
	display:none;	
}
#navmobilebut {
		display:none;	
	}
nav.breadcrumbs {
	margin-top:20px;
	margin-bottom:10px;	
	width:100%;

}
.breadcrumbs ol {
		background:#ec008c;
		border:1px solid #9e035f;
}
.breadcrumbs ol li {
	padding:3px 4px;	
	display:inline-block;
	color:#fff;

}
.breadcrumbs li a{
	display:inline-block;
	font-size:1em;
	color:#fff;
}
.breadcrumbs h5 {
	display:inline;
	width:90px;
	float:left;
	padding:4px 0 3px 4px;
	margin:0px 0px;	
	color:#fff;
}
/* Tabs Stuff */
.fronttabs {
	margin-left:-10px;	
	padding-bottom:15px;
	border-bottom: 1px solid #DDDDDD;
}
.sprocket-tabs-panels {
	padding: 15px 10px	
}
.sprocket-tabs-panels img {
	float:right;
	margin-left:10px;	
	display:block;
}
.sprocket-tabs-nav {
	background:none repeat scroll 0 0 transparent !important;
}
.sprocket-tabs-nav li {
	color:#fff;	
}
.sprocket-tabs-nav > li.active > .sprocket-tabs-inner {
	background-color:transparent !important;	
}

.sprocket-tabs-nav li:first-of-type .sprocket-tabs-inner {
	background:#b06408;
	border-top:1px solid #774406;
	border-left:1px solid #774406;
	border-right:1px solid #774406;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.3);
}
.sprocket-tabs-nav li:nth-of-type(2) .sprocket-tabs-inner {
	background:#ec008c;
	border-top:1px solid #9e035f;
	border-left:1px solid #9e035f;
	border-right:1px solid #9e035f;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.3);
}
.sprocket-tabs-nav li:nth-of-type(3) .sprocket-tabs-inner {
	background:#97bf0d;	
	border-top:1px solid #516609;
	border-left:1px solid #516609;
	border-right:1px solid #516609;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.3);
}
.sprocket-tabs-nav li:nth-of-type(4) .sprocket-tabs-inner {
	background:#76b4cf;
	border-top:1px solid #2f637a;
	border-left:1px solid #2f637a;
	border-right:1px solid #2f637a;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.3);	
}
.sprocket-tabs-nav li:nth-of-type(5) .sprocket-tabs-inner {
	background:#b06408;
	border-top:1px solid #774406;
	border-left:1px solid #774406;
	border-right:1px solid #774406;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.3);;	
}
.sprocket-tabs-nav li:nth-of-type(6) .sprocket-tabs-inner {
	background:#ec008c;
	border-top:1px solid #9e035f;
	border-left:1px solid #9e035f;
	border-right:1px solid #9e035f;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.3);	
}
.sprocket-tabs-nav li:nth-of-type(7) .sprocket-tabs-inner {
	background:#97bf0d;
	border-top:1px solid #516609;
	border-left:1px solid #516609;
	border-right:1px solid #516609;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.3);	
}
.sprocket-tabs-nav li .sprocket-tabs-inner:hover {
	box-shadow:none;	
}
.sprocket-tabs-panel a {
	background:#ec008c;
	padding:7px 12px;
	color:#fff;
	text-shadow:none;
	text-decoration:none;
	margin-top:10px;
}
.sprocket-tabs-panel a:hover {
	background:#97bf0d;
}
.sprocket-tabs-nav > li > .sprocket-tabs-inner {
	color:#fff;
	text-shadow:0 1px 0 #333;
	box-shadow:none;
	font-size:1.2em;
}
.sprocket-tabs-nav > li.active > .sprocket-tabs-inner {
	color:#333;
	text-shadow:0 1px 0 #fff;
	box-shadow:none;
}
.slideshow {
    margin-top: 10px !important;
}
/* K2 Stuff */
.eventDate {
	background:	#ec008c;
	border-radius:500px;
	border:#9e035f solid 1px;
	height: 130px;
    width: 130px;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.3);

}
.dates {
	text-align:center;	
	margin-top:18px;
	line-height:1.5em;
}
.catItemExtraFieldsValue {
	font-size:1.5em;
	color:#fff;
	font-weight:bold;
	text-shadow:-1px -1px 0 #333;
		
}
.catItemExtraFields {
	max-width:140px;
	float:left;	
	border-top: none !important;
}
.catItemExtraFieldsLabel {
	font-style:italic;
}
.catItemImageBlock {
    float: right;
    margin-top: 50px !important;
    max-width: 400px;
	padding:0 !important;
	
	}
	
.eventItemIntroText {
	width:310px;
	float:left;
	margin-left:20px;
	margin-right:20px;
	margin-top:10px;
	
}
.k2ReadMore {
	background:#ec008c;
	padding:7px 12px;
	color:#fff;
	text-shadow:none;
	text-decoration:none;
	margin-top:10px;
}
.k2ReadMore:hover {
	background:#97bf0d;
	color:#fff;
	text-decoration:none;

}
.catItemCommentsLink a {
	background:#ec008c;
	padding:7px 12px;
	color:#fff;
	text-shadow:none;
	text-decoration:none;
	margin-top:10px;
}
.catItemCommentsLink a:hover {
	background:#97bf0d;
	color:#fff;
	text-decoration:none;
}
.eventsLinks {
	float:right;

}
.groupLeading {
	border-bottom:1px solid #ec008c;
	padding-bottom:25px !important;		
}
.sprocket-lists-image {
    clear: both !important;
    float: left;
    margin: 15px !important;
}

.moduletable h3 {
	background: none repeat scroll 0 0 #EC008C;
    border: 1px solid #9E035F;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 -1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	padding: 10px 15px;	 color:#fff;
	text-shadow: 0 1px 0 #333333;
	margin-bottom:10px;
}
.sprocket-lists {
	margin-top:30px;	
}

.itemExtraFieldsItem {
	max-width:140px;
	float:left;	
	border-top: none !important;
	margin-right:10px;
	margin-left:-50px;
}
div.itemToolbar {
    background: none repeat scroll 0 0 transparent;
    border-bottom: none;
    border-top: none;
    margin: 16px 0 0;
    padding: 2px 0;
}
.itemImageBlock {
	float:right;
		
}

span.itemImage img {
    border: none;
    padding: 0px;
}
div.k2FeedIcon {
    padding: 4px 8px;
	width:30px;
	float:right;
}
#header-below-1 {
	width:70%;
}

#header-below-6 {
	width:30%;	
}
#header-below-6 .noaccordion {
	margin:0px !important;
}
.noaccordion .sprocket-lists-title {
    background: transparent;
    border:none;
}
.noaccordion h3{
	margin-left:0px;
	background: none repeat scroll 0 0 #EC008C;
    border: 1px solid #9E035F;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 -1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	padding: 10px 15px;	 color:#fff;
	text-shadow: 0 1px 0 #333333;
	margin-bottom:5px;	
	margin-top: 10px;
}
.noaccordion .sprocket-lists {
	margin-top:0px;	
}
.noaccordion .sprocket-lists-container li {
	border-bottom:1px solid #ec008c;
		margin-top:10px;	

}
#header-below-1 .gutter {
	margin-left:0px;	
}
.theme-default .nivoSlider {
    background: url("loading.gif") no-repeat scroll 50% 50% #FFFFFF;
    box-shadow: none !important;
	border:1px solid #5c3506;
    margin: 0 auto;
}


@media only screen and (max-width: 760px) {
	#nav {
		display:none;	
	}
	#navmobile {
		display:inline;
		
	}
	#navmobilebut {
		position: absolute;
		right:-30px;
		top:100px;
		display:block;
		margin-right:50px;
		overflow:visible;
	}
	#navmobilebut a {
		background:#97bf0d;
		padding:8px 18px;
		border-radius:3px;
		border:1px solid #516609;
		box-shadow:inset 0 1px 1px rgba(255,255,255,0.3), 0 0px 1px rgba(0,0,0,0.3);
		background-image:url(../images/menu-mob-but.png);
		background-repeat:no-repeat;
		background-position:center;
		background-size:auto !important
	}
	#navmobilebut a span {
			
	}
	
		#navmobilebut a:hover {
		text-decoration:none;
		box-shadow:none;
		color:#000;
		text-shadow:none;
	}
	#header-below-1, content-above-1, #header-below-6, .main-beta-1 #load-first, .main-beta-1 #column-group-beta  {
		width:100%;
		margin:0px;
	}
	.sprocket-tabs-nav > li > .sprocket-tabs-inner {
		font-size:1em;	
	}
	.fronttabs {
    margin-left: 5px;
}
nav.breadcrumbs {
    margin-bottom: 10px;
    margin-top: 20px;
	margin-left:10px;
	margin-right:15px;
	width: 98%;}

#navmobile {
	width:480px;
	margin:20px auto;
	margin-left:auto;
	margin-right: auto;	
}

#navmobile ul.nav-bar {
    list-style: none outside none;
    margin-top: 30px;
	margin-left:auto;
	margin-right: auto;
	width:80%;
	float:none;
}
#navmobile ul.nav-bar li {
    background-color: #ec008c;
    margin: 0;
	margin-top:2px;
	margin-bottom:2px;
}
#navmobile ul.nav-bar li a {
    color: #FFFFFF;
    display: inline;
    font-size: 1.8rem;
    padding: 3px 15px 2px;
    display: block;

}
#navmobile ul.nav-bar li:hover, ul.nav-bar li.active {
    border-radius: 0 0 0 0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
	background-color: #97bf0d;
}
#navmobile ul.nav-bar li.active ul.flyout {
	display:block;	
	background-image:none;
	padding-top:0;
}
#navmobile ul.nav-bar li.active ul.flyout a{
	display:block;	
	background-image:none;
	background:#ec008c;
	padding: 10px 5px;
	border-color: transparent;
    border-style: solid;
    border-width: 0;
    box-shadow: none;
	text-indent:40px;

}
#navmobile ul.nav-bar li.active ul.flyout a:hover{
		background-color: #97bf0d;

}
#navmobile ul.nav-bar li.active ul.flyout li.active a{
		background-color: #97bf0d;

}
div.catItemHeader h3.catItemTitle {
	font-size:20px;	
}
.catItemExtraFields{
	float:none;	
}
.itemImageBlock {
	float:none;	
}
div.itemCommentsForm form textarea.inputbox,div.itemCommentsForm form input.inputbox {
	width:200px;	
}
div.catItemExtraFields, div.genericItemExtraFields {
	margin-left:auto;
	margin-right:auto;	
}

.eventItemIntroText {width:100%; clear:both; float:none; margin:0;}
.catItemImageBlock {
    clear: both;
    float: none;
    margin-top: 0px !important;
    max-width: 100%;
    padding: 0 !important;
}
.itemExtraFieldsItem {
    border-top: medium none !important;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    max-width: 140px;
}
}
