/*Foundation Overrides */

.row {
	width:1440px;	
}
@media only screen and (max-width: 767px) {
	.row {
		width:auto;	
	}
}
/*Login Module  ---------------------- */

fieldset {
	border:none;
	margin-bottom:25px;	
}
fieldset.userdata {
	margin-bottom:10px;	
}

/*article stuff  ---------------------- */
article header {
	overflow:hidden;	
}
.actions {

}

.leading-articles, .intro-articles .article {
	border-bottom:1px solid #999;	
}
.actions ul, ul.actions {
	list-style:none;
	width:200px;	
	display:inline-block;
	clear:both;
}
.actions ul li, ul.actions li {
	display:inline-block;
}
.article-meta {
	width:200px;
	color:#222;
	clear:both;
	display:inline-block;
}
.article-footer ul {
	list-style:none;
}
dl.article-info {

}
.details {
	padding:9.5px 35px !important;
}
.article-details {
	padding:5px;	
}
.detailsDrop li{
	color:#111 !important;
	text-size:12px;
	padding:5px 3px !important;	
}
.article-details ul {
 list-style:none;
 display:inline-block;
 margin-bottom:0;
 margin-top:0;
 line-height:0.5em;	
}
.article-info dt {
	font-weight:bold;
	font-size:1.6rem;
	border-bottom:1px solid #666;
	margin-bottom:4px;
}
.article-info dd {
	margin-bottom:3px;
}
ul.category {
	list-style:none;	
}
.pagenav {
	list-style:none;	
}
.pagenav li a{
	border:1px #333 solid;
	padding:5px;	
}
.pagenav-next {
text-align:right;
}
.filters select {
	width:50px;	
}
#year, #month {
	width:80px;	
}
.registration {
	margin-bottom:25px;	
}
.button.dropdown ul.no-hover.show-dropdown {
	top:28px;	
}
ul.pagenav, ul.pagenav li {
    margin: 0;
    padding: 0;
}
ul.pagenav li {
    display: inline-block;
    list-style-type: none;
}
li.pagenav-prev {
    float: left;
}
li.pagenav-next {
    float: right;
}
.pagenav li a {
display: inline-block;
    font-family: sans-serif;
    margin: 1em 0;
    max-width: 400px;
    padding: 0.5em 0.75em;
    position: relative;
    text-align: center;
}
.article-footer {
	overflow:hidden;	
}
/* Pagination ---------------------- */
.pagination ul { display: block; height: 24px; margin-left: -5px;}
.pagination ul li { float: left; display: block; height: 24px; color: #999; font-size: 14px; margin-left: 5px; }
.pagination ul li a { display: block; padding: 1px 7px 1px; color: #555; }
.pagination ul li:hover a, ul li a:focus { background: #e6e6e6; }
.pagination ul li.unavailable a { cursor: default; color: #999; }
.pagination ul li.unavailable:hover a, ul li.unavailable a:focus { background: transparent; }
.pagination ul li.current a { background: #2ba6cb; color: white; font-weight: bold; cursor: default; }
.pagination ul li.current a:hover { background: #2ba6cb; }

/* Form Stuff ---------------------- */
.registration input, .login input {
	width:300px;	
}